@model ManageMe.BusinessLogic.PersonalDataUser

@{
    ViewData["Title"] = "Details";
}

<div>
    <dl class="row" style="display:flex;">
        <div style="flex:1;">
            <dd class="col-sm-10">
                @if (Model.ProfilePictureByteArray != null && Model.ProfilePictureByteArray.Length > 0)
                {
                    <img class="rounded-circle" style="width:40rem; height:40rem;" src="@Url.Action("GetProfilePictureForPersonalData", "Users", new { id = Model.Id })" alt="Profile Picture" />
                    <a class="btn btn-danger">Remove profile picture</a>
                }
                else
                {
                    <span>No profile picture available</span>

                    <form method="post" asp-controller="Users" asp-action="AddProfilePicture" enctype="multipart/form-data">
                        <input asp-for="ProfilePicture" class="form-control" />
                        <span asp-validation-for="ProfilePicture" type="file" class="text-danger"></span>
                        <button type="submit" class="btn btn-primary">Add profile picture</button>
                    </form>
                }
            </dd>
        </div>
        <div style="flex:1;">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <p>For more advanced settings click <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">here</a></p>
        </div>
    </dl>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/FadeBackground.js"></script>
    <script type="text/javascript" src="~/js/PopUp.js"></script>
    <script type="text/javascript">
        $('body').on('click', '.btn-danger', function () {
            FadeBackground(true);

            function callback(){
                $.ajax({
                    type: "POST",
                    url: "/Users/RemoveProfilePicture",
                    success: function (data) {
                        FadeBackground(false);
                        location.reload();
                    },
                    error: function (data) {
                        FadeBackground(false);
                        alert("Error: " + data.responseText);
                    }
                });
            }

            var message = "Are you sure you want to delete your profile picture?";
            var status = "WARNING";
            new PopUp(status, message, callback, "Delete", "AlertPopUp");
        });
    </script>
}
